version: '3.3'
services:
  db:
    container_name: organizational-app-db
    restart: unless-stopped
    image: organizational-app-db
    build:
      context: ./db
    volumes:
      - db-volume:/var/lib/postgresql/data
      - ./data:/data
    env_file:
      - ./.env
    networks:
      - network
    ports:
      - 5432:5432
    working_dir: /work

  shadow-db:
    container_name: shadow-db
    restart: unless-stopped
    image: shadow-db
    build:
      context: ./db/shadow
    env_file:
      - ./db/shadow/.env
    networks:
      - network
    ports:
      - 5438:5432
    working_dir: /work

  graphql:
    container_name: organizational-app-graphql
    restart: always
    image: organizational-app-graphql
    build:
      context: ./graphql
    env_file:
      - ./.env
    depends_on:
      - db
    networks:
      - network
    ports:
      - 5433:5433
    command:
      [
        '--connection',
        '${DATABASE_URL}',
        '--port',
        '5433',
        '--schema',
        'public',
        '--append-plugins',
        'postgraphile-plugin-connection-filter,custom-plugin',
      ]

networks:
  network:

volumes:
  db-volume:
